.balls{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
    padding: 10px;
    position: relative;
}
#one{
    background-color: red;
    animation: onee 4s 150ms ease-in-out  infinite  ;
}
#two{
    background-color: green;
    animation: twoo 4s ease-in-out  infinite  ;
}
#three{
    background-color: blue;
    animation: threee 4s ease-in-out  infinite  ;
}
#four{
    background-color: gold;
    animation: fourr 4s 250ms ease-in-out  infinite  ;
}
#five{
    background-color: cadetblue;
    animation: fivee 4s 150ms ease-in-out  infinite  ;
}
#six{
    background-color: crimson;
    animation: sixx 4s 100ms ease-in-out  infinite  ;
}
@keyframes onee{
    0%{top: 0%;}
    30%{top: 100%}
    40%{top: 95%}
    50%{top: 99%}
    60%{top: 85%}
    70%{top: 94%}
    86%{top: 95%}
    90%{top: 99%}
    91%{top: 85%}
    92%{top: 94%}
    100%{top: 0%}

}
@keyframes twoo{
    0%{top: 0%;}
    30%{top: 100%}
    40%{top: 95%}
    50%{top: 99%}
    60%{top: 91%}
    70%{top: 96%}
    86%{top: 95%}
    90%{top: 96%}
    91%{top: 90%}
    92%{top: 96%}
    100%{top: 0%}
}
@keyframes threee{
    0%{top: 0%;}
    30%{top: 100%}
    40%{top: 95%}
    50%{top: 99%}
    60%{top: 85%}
    70%{top: 94%}
    86%{top: 95%}
    90%{top: 99%}
    91%{top: 91%}
    92%{top: 94%}
    100%{top: 0%}
}
@keyframes fourr{
    0%{top: 0%;}
    30%{top: 100%}
    40%{top: 95%}
    50%{top: 99%}
    60%{top: 96%}
    70%{top: 94%}
    86%{top: 95%}
    90%{top: 99%}
    91%{top: 98%}
    92%{top: 99%}
    100%{top: 0%}

}
@keyframes fivee{
    0%{top: 0%;}
    30%{top: 100%}
    40%{top: 95%}
    50%{top: 99%}
    60%{top: 93%}
    70%{top: 94%}
    86%{top: 95%}
    90%{top: 99%}
    91%{top: 96%}
    92%{top: 94%}
    100%{top: 0%}

}
@keyframes sixx{
    0%{top: 0%;}
    30%{top: 100%}
    40%{top: 95%}
    50%{top: 98%}
    60%{top: 85%}
    70%{top: 94%}
    86%{top: 95%}
    90%{top: 97%}
    91%{top: 92%}
    92%{top: 94%}
    100%{top: 0%}

}


